@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply mx-auto w-full rounded bg-gnp-blue-500 px-4 py-2 font-bold text-white shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:bg-gnp-blue-700 active:scale-95;
}

.btn-secondary {
  @apply mx-auto w-full rounded bg-gnp-orange-500 px-4 py-2 font-bold text-white shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:bg-gnp-orange-700 active:scale-95;
}

.btn-disabled {
  @apply mx-auto w-full cursor-not-allowed rounded bg-gray-500 px-4 py-2 font-bold text-white shadow-lg;
}

.btn-border {
  @apply mx-auto w-full rounded border-2 border-gnp-blue-500 px-4 py-2 font-bold text-gnp-blue-500 shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:bg-gnp-blue-100 hover:text-gnp-blue-900 active:scale-95;
}

.input-primary {
  @apply mb-8 h-12 w-full rounded-lg border-2 border-gnp-blue-500 pl-3 text-base shadow-lg;
}

.text-area-primary {
  @apply mb-8 h-full w-full rounded-lg border-2 border-gnp-blue-500 pl-3 text-base shadow-lg;
}

.floating-button-primary {
  @apply flex aspect-square w-full items-center justify-center rounded-full bg-gnp-blue-500 text-white shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:bg-gnp-blue-700 active:scale-95;
}

.floating-button-secondary {
  @apply flex aspect-square w-full items-center justify-center rounded-full bg-gnp-orange-500 text-white shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:bg-gnp-orange-700 active:scale-95;
}

.title {
  @apply my-10 w-72 rounded-r-3xl bg-gnp-orange-500 p-4 text-center text-2xl font-semibold text-white;
}

.label-primary {
  @apply text-base font-bold text-gnp-blue-500 block mb-1 mt-3;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #07080b #e5e7eb;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #07080b;
  border-radius: 6px;
  border: 3px solid #e5e7eb;
}
